/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Derived from adamrtalbot/nf-stem Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

manifest {
    name = 'dlejeune/nf-codon-alignment'
    author = """Daniel Le Jeune"""
    homePage = 'https://github.com/dlejeune/nf-codon-alignment'
    description = """TODO"""
    mainScript = 'main.nf'
    nextflowVersion = '!>=25.04.2'
    version = '7.4.0'
    doi = ''
}


// Global default params, used in configs
params {

    // Input options
    samplesheet = null
    reference_file = null
    sample_base_dir = null

    // Boilerplate options
    run_name = "test"
    outdir = "./results/${params.run_name}"
    publish_dir_mode = 'copy'
    monochrome_logs = false
    help = false
    version = false

    // Reference Mapping Options. Options for add_reference_to_sequences are BEFORE, AFTER, or null
    add_reference_to_sequences = null
    reference_to_add = null

    // Max resource options
    max_memory = '128.GB'
    max_cpus = 16
    max_time = '240.h'

    aligner = "MAFFT"

    //Can be one of AGA, CUSTOM
    trim_method = "AGA"

    skip_pre_process = false
    skip_trim = false
    skip_functional_filter = false

    multi_timepoint_alignment = false


    region_of_interest = null
    region_shorthand = null

    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    log_dir = "${params.outdir}/logs"

    // Args for pipeline modules
    mafft_args = "--localpair --maxiterate 1000"
    mafft_fast_align_args = "--retree 1 --maxiterate 0"

    iqtree_args = null

    aga_args = "--local"

    probcons_consistency = 2
    probcons_ir = 100
    probcons_pre = 0

    tcoffee_args = null
    tcoffee_regressive_args = "-nseq 100 -tree mbed -method clustalo_msa"
    prank_args = "+F"
    pagan_args = ""
    clustalo_args = "--iterations 2"
    clustalw_args = "-CLUSTERING=NJ -ITERATION=NONE -NUMITER=3 -MATRIX=BLOSUM"
    virulign_args = "--maxFrameShifts 3 --exportReferenceSequence no"
    macse_args = ""

    // Char(s) to strip from the AGA alignments that may mess with downstream tools
    aga_strip_char = "."


    // Args for filtering

    ff_max_stop_pct = 100
    ff_include_no_stop_codons = true
    ff_include_frameshifts = false
    ff_acceptable_pct_loss = 0.2
    ff_expected_length = null

    // Args for the custom pre-process
    use_kmer_trimming = false

    // Args for the various submodules of pipeline-utils-rs
    prs_ts_operating_mode = "double-match"
    trim_kmer_size = 10
    trim_kmer_max_dist = 2


    trim_consensus_alignment_mode = "local"
    trim_consensus_gap_open_penalty = 5
    trim_consensus_gap_extension_penalty = 1


    // Slurm Args
    slurm_queue = "Main"
}

validation {
    help {
        enabled = true
    }
}



process {

    cpus = { 1 }
    memory = { 6.GB }
    time = { 4.h }

    resourceLimits = [
        cpus: params.max_cpus,
        memory: params.max_memory,
        time: params.max_time,
    ]

    errorStrategy = "terminate"
}

workflow {
    output {
        mode = "copy"
    }
}

includeConfig "./conf/publish.config"
includeConfig "./conf/modules.config"

profiles {
    test {
        includeConfig "./conf/test.config"
    }
    debug {
        dumpHashes = true
        process.beforeScript = 'echo $HOSTNAME'
        cleanup = false
    }
    docker {
        docker.enabled = true
        conda.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = false
        // docker.runOptions = '-u $(id -u):$(id -g)'
        docker.sudo = true
        docker.temp = "auto"
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = false
    }
    apptainer {
        singularity.enabled = false
        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = true
        apptainer.ociAutoPull = false
        apptainer.autoMounts = true
    }

    slurm {
        process.executor = 'slurm'
        process.queue = "${params.slurm_queue}"
        process.scratch = true
        process.memory = 8.GB
        process.cpus = 1

        executor.submitRateLimit = "100/1min"

        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }
    ilifu {
        singularity.enabled = true
        singularity.ociMode = false
        singularity.autoMounts = true

        apptainer.enabled = false
    }
    hex {
        apptainer.enabled = true
        apptainer.ociAutoPull = false
        apptainer.autoMounts = true

        singularity.enabled = false
    }
}



// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers

docker.registry = 'docker.io'
singularity.registry = 'docker.io'
apptainer.registry = 'docker.io'

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.2'
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER = "/.Rprofile"
    R_ENVIRON_USER = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}



// Thanks https://github.com/nextflow-io/nextflow/issues/1166#issuecomment-502467562
process.afterScript = {
    def logMainDir = params.log_dir

    // Check whether log dir is located in S3 if using awsbatch and is a local directory otherwise
    if (workflow.profile == "aws") {
        if (!logMainDir.matches("^s3://.*")) {
            logMainDir = "s3:/" + workflow.workDir.toString() + "/log"
        }
    }
    else {
        logMainDir = workflow.launchDir.resolve(logMainDir).toString()
        if (!logMainDir.matches("^/.*")) {
            logMainDir = workflow.launchDir.toString() + "/log"
        }
    }

    // Build log directory path based on task name
    def logSubDir = task.name.replace(" (null)", "").replace(" ", "/").replaceAll(" ", "_").replaceAll("[()]", "")
    def log_dir = logMainDir + "/" + logSubDir

    // Define command to copy log files 
    def cpLogCmd = workflow.profile == "aws"
        ? "nxf_s3_upload '*.txt' ${log_dir}; "
        : "mkdir -p ${log_dir}; cp -a *.txt ${log_dir}; "

    // Assemble final command
    def cmd = "ls -alR --full-time > .command.ls; "
    cmd += "mkdir nxf_log; "
    cmd += "for file in .command.*; do cp -a \${file} nxf_log/\${file#.}.txt; done; "
    cmd += "cd nxf_log; "
    cmd += cpLogCmd
    cmd += "cd ..;"
    cmd
}
