process {

    withLabel: alignment_utils {
         container = "dlejeune/alignment-utils:0.0.7"
    }

    withLabel: mafft{
        container = "dlejeune/mafft:7.525"
        cpus = 16
        memory = 32.GB
        time = "2h"
        
    }

    withLabel: aga{
        container = "dlejeune/aga:0.0.1"
    }

    withLabel: codon_adjust {
        container = "dlejeune/codon_adjust:0.0.1"
    }

    withLabel: collapse_expand{
        container = "dlejeune/fasta_collapse_expand:0.1.0"
    }



}