process {

    withLabel: alignment_utils {
         container = "dlejeune/alignment-utils:0.0.7"
         cpus = 4
         memory = '8 GB'
         time = '10m'
    }

    withLabel: mafft{
        container = "dlejeune/mafft:7.525"
        cpus = { check_max( 16, 'cpus'   ) }
        memory = { check_max( 32.GB , 'memory'   ) }
        time = { check_max( 2.h , 'time'   ) }
        
    }

    withLabel: aga{
        container = "dlejeune/aga:0.1.6"
        cpus = { check_max( 8, 'cpus'   ) }
        memory = { check_max( 16.GB , 'memory'   ) }
        time = { check_max( 1.h , 'time'   ) }
    }

    withLabel: codon_adjust {
        container = "dlejeune/codon_adjust:0.0.1"
        cpus = 4
        memory = '8 GB'
        time = '10m'
    }

    withLabel: collapse_expand{
        container = "dlejeune/fasta_collapse_expand:0.2.1"
        cpus = 4
        memory = '8 GB'
        time = '10m'
    }

    withLabel: reverse_translate{
        container = "dlejeune/reverse_translate:0.2.1"
        cpus = 2
        memory = '4 GB'
        time = '5m'
    }

    withLabel: process_aga_output{
        container = "dlejeune/parse_aga_output:0.1.0 "
        cpus = 2
        memory = '1 GB'
        time = '2m'
    }

    withName: STRIP{
        container = "ubuntu:focal"
        cpus = 2
        memory = '1 GB'
        time = '2m'
    }

    withLabel: muscle{
        container = "dlejeune/muscle:5.1.0"
        cpus = { check_max( 16, 'cpus'   ) }
        memory = { check_max( 32.GB , 'memory'   ) }
        time = { check_max( 2.h , 'time'   ) }
        
    }

    withName: AGA_SIEVE{
        container = "dlejeune/filter-seqs:1.1.0"
        cpus = 1
        memory = '2 GB'
        time = '5m'
    }

    withName: SEQTK_SUBSEQ{
        container = "dlejeune/seqtk:1.4.0"
        cpus = 1
        memory = '2 GB'
        time = '5m'
    }



}