process {

    withLabel: alignment_utils {
        container = "dlejeune/alignment-utils:0.0.7"
        cpus = 4
        memory = '8 GB'
        time = '10m'
    }

    withLabel: mafft {
        container = "dlejeune/mafft:7.525"
        cpus = { 16 }
        memory = { 32.GB }
        time = { 2.h }
    }

    withName: MAFFT {
        ext.args = params.mafft_args
    }

    withName: MAFFT_FAST_ALIGN {
        ext.args = params.mafft_fast_align_args
    }

    withLabel: aga {
        container = "dlejeune/aga:0.2.0"
        cpus = { 16 }
        memory = { 32.GB }
        time = { 2.h }
    }

    withName: AGA {
        ext.args = params.aga_args
    }

    withLabel: codon_adjust {
        container = "dlejeune/codon_adjust:0.0.1"
        cpus = 4
        memory = '8 GB'
        time = '10m'
    }

    withLabel: collapse_expand {
        container = "dlejeune/fasta_collapse_expand:0.2.1"
        cpus = 4
        memory = '8 GB'
        time = '10m'
    }

    withLabel: reverse_translate {
        container = "dlejeune/reverse_translate:0.2.1"
        cpus = 2
        memory = '4 GB'
        time = '5m'
    }

    withLabel: process_aga_output {
        container = "dlejeune/parse_aga_output:0.1.0 "
        cpus = 2
        memory = '1 GB'
        time = '2m'
    }

    withName: STRIP {
        container = "ubuntu:focal"
        cpus = 2
        memory = '1 GB'
        time = '2m'
    }

    withLabel: muscle {
        container = "dlejeune/muscle:5.1.0"
        cpus = { 16 }
        memory = { 32.GB }
        time = { 2.h }
    }

    withName: AGA_SIEVE {
        container = "dlejeune/filter-seqs:1.1.0"
        cpus = 1
        memory = '2 GB'
        time = '5m'
        ext.args = "--seq-type ${params.aga_filter_seq_type}\
        --min-stop-codons ${params.aga_filter_min_stop_codons}\
        --max-stop-codons ${params.aga_filter_max_stop_codons}\
        --frameshifts ${params.aga_filter_frameshifts}\
        --min-coverage ${params.aga_filter_min_coverage}"
    }

    withName: SEQTK_SUBSEQ {
        container = "dlejeune/seqtk:1.4.0"
        cpus = 1
        memory = '2 GB'
        time = '5m'
    }

    withLabel: pipeline_utils_rs {
        container = "dlejeune/pipeline-utils-rs:0.5.0"
        cpus = 2
        memory = '1 GB'
        time = '2m'
    }

    withName: TRIM_SEQUENCES {
        ext.args = "--kmer-size ${params.kmer_size}"
    }

    withName: FUNCTIONAL_FILTER {
        container = "dlejeune/functional-filter:0.2.1"
        cpus = 2
        memory = '8 GB'
        time = '10 m'
        ext.args = "--max-stop-pct ${params.ff_max_stop_pct} \
        --acceptable-pct-loss ${params.ff_acceptable_pct_loss} \
        ${params.ff_include_frameshifts ? '--include-frameshifts' : '--no-include-frameshifts'} \
        ${params.ff_include_no_stop_codons ? '--include-no-stop-codons' : '--no-include-no-stop-codons'}"
    }

    withName: IQTREE {
        container = "dlejeune/iqtree:2.0.7"
        ext.args = params.iqtree_args
    }
}
