process{
   

    withName: COATI{
        publishDir = [
            path: {"${params.outdir}/coati"},
            mode: "copy",
            failOnError: true


        ]
    }

    withName: VIRULIGN{
        publishDir = [
            path: {"${params.outdir}/virulign"},
            mode: "copy",
            failOnError: true


        ]
    }

    withName: MACSE{
        publishDir = [
            path: {"${params.outdir}/macse"},
            mode: "copy",
            failOnError: true


        ]
    }
}