process{

   withName: COLLAPSE_REVERSED_SEQS{
    publishDir = [
        path: { "${params.outdir}/post_rev_trn_collapse/" },
        mode: "copy",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
   }

   withName: COLLAPSE_AA_SEQS{
    publishDir = [
        path: { "${params.outdir}/pre_mafft_collapse/" },
        mode: "copy",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
   }
}